# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Cypress
cypress\e2e\ejemplos-pruebas
cypress/screenshots/
cypress/videos/
cypress/reports/
runner-results
cypress/parallel-weights.json

# Reports
reports

# Environment variables
.env

# IDE & personal scripts
force_commit.bat


